# Fichiers compilés Java
*.class
*.jar
*.war
*.ear

# Dossiers de build
target/
bin/
build/
out/
.gradle/

# Fichiers d'IDE et d'éditeurs
.settings/
.project
.classpath
*.iml
.idea/
.vscode/
*.swp
*.swo

# Fichiers de base de données
*.db
*.mv.db
*.trace.db

# Fichiers système
.DS_Store
Thumbs.db
*.log
*.tmp

# Fichiers Maven spécifiques
dependency-reduced-pom.xml
pom.xml.versionsBackup